body,
html {
  height: 100vh;
  margin: 0;
}
.containe {
  display: flex;
  min-height: 100vh;
}
.all-content {
  width: 100%;
}
.sidebar {
  width: 15%;
  background-color: #898989;
  padding: 1rem 0;
}
.logo a {
  color: #ffff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
.top-nav a {
  padding: 0.531rem 1rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  border-bottom: 2px solid;
}
.actions button {
  background: #262626;
  color: #fff;
  border: 0;
  padding: 5px 18px;
  margin: 1% 1% 0 0;
}

.menuicons svg {
  font-size: 24px;
  color: #ffffff;
}
.menulink.activemenu {
  background: #007b9b;
}
.todo {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 12px;
}
.assign-area img {
  width: 35px;
  height: 35px;
  border-radius: 100px;
}
.todocards svg {
  font-size: 20px;
}
.risk span {
  background-color: red;
  padding: 2px 13px;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
.addbutton {
  border: 1px solid #ccc;
  border-radius: 7px;
  width: 100%;
  margin: 13px 0;
  padding: 10px;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
}
.card {
  width: fit-content;
  margin: 5px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 10px;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}